src/docker/dockerfile/industrial-edge-app-publisher.deb
src/docker/dockerfile/industrial-edge-app-publisher-*.deb
src/docker/dockerfile/industrial-edge-app-publisher
src/docker/dockerfile/industrial-edge-app-publisher-*